{% extends 'base.html.twig' %}



{% block body %}

    <div class="container my-5">
    
       <h1 class="mb-4">Espace membre</h1> 
     

    
       {# 1.Formulaire
        1.a : le mot de passe actuel -> comparer avec le mot de passe en BDD
        1.b : le nouveaumot de passe 
        1.c : la confirmation du nouveau mot de passe 

      2. Mise à jour en BDD
        2.a : Lui envoyer une petite notification pour lui confirmer la modification du MDP #}

           <div class="row">
        <div class="col-md-3">  {% include 'account/_menu.html.twig' %}</div>
        <div class="col-md-9">   
          <h5 class="mb-3">Modification du mot de passe</h5>
          {{ form(modifyPwd)}}
      </div>
       
       </div> 


      
    </div>

{% endblock %}